files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 20M;
packages:
        yum:
            xz: []
            tar: []
commands:
        00_install_ffmpeg: 
            command: |
                curl https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz > /tmp/ffmpeg.tar.xz &&
                mkdir /tmp/ffmpeg &&
                tar -xf /tmp/ffmpeg.tar.xz --strip-components=1 -C /tmp/ffmpeg &&
                cp /tmp/ffmpeg/ff* /usr/local/bin;
            ignoreErrors: false